/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    border-right: 1px white solid;
    border-left: 1px white solid;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p,
a {
    font-size: 3rem;
}

.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}

.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
    border-bottom: white solid thin;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(225, 239, 230);
    text-align: center;
}

.header-bg {
    background-color: rgb(0, 4, 17, .5);
    height: 35vh;
}

header h1 {
    color: white;
    padding-top: 0.5rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-direction: column;
}

.menu-bolum {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

header nav div {
    font-size: 2rem;
    font-weight: bolder;
    text-decoration-style: solid;
    text-align: center;
}

header nav a {
    font-size: 2rem;
    color: white;
    margin-left: 0;
    margin: 2.5rem;
    cursor: pointer;
    padding-top: 1rem;
}

.social-media {
    display: flex;
    width: 20%;
    height: 2rem;
    justify-content: space-around;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 2rem;
}

.social-media i {
    width: 100%;
    font-size: 3rem;
    padding: 0 1rem;
}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}

.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

.cizgi {
    display: none;
}

.ince-cizgi {
    display: none;
}

/* menu */

.menu-bolum a {
    margin: 1rem;
}

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, 0.7);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-baslik {
    width: 100%;
    text-align: center;
    padding: 3rem;
}

.menu-section {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 9rem;
}

.menu-item {
    width: 75%;
    margin-bottom: 3rem;
}

.menu-item div {
    display: flex;
    justify-content: space-between;
}

/* footer section */
footer {
    width: 100%;
    height: max-content;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    color: white;
}

.footer-flex {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.mail-liste {
    width: 40%;
    text-align: center;
}

.mail-liste div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer input {
    height: 5vh;
    width: 23vw;
    font-size: initial;
    font-weight: bold;
    text-align: center;
}

footer button {
    height: 5vh;
    width: 9vw;
    font-weight: bold;
    font-size: 2rem;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    gap: 15%;
}

footer nav a {
    color: white;
    margin-right: 1%;
    width: 21rem;
}

.ozel-teklifler {
    padding-left: 3rem;
}

.copyright {
    float: right;
    font-size: 2rem;
    padding-top: 2rem;
}

/* mobile media query */
@media(max-width: 428px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
        border: 0.3rem solid;
        width: max-content;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    .header-bg {
        background-color: rgb(0, 4, 17, .8);
        height: 50vh;
    }

    header {
        height: max-content;
    }

    .spacer {
        height: 5vh;
    }

    .spacer-sm {
        height: 5vh;
    }

    .cizgi {
        display: inline-block;
        background-color: black;
        width: 40%;
        height: 20%;
        text-align: center;
    }

    .ince-cizgi {
        display: block;
        background-color: black;
        width: 100px;
        height: 2px;
        margin: 0 auto;
    }

    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    .menu-container {
        background-color: #e1efe6;
        color: black;
    }

    .menu-bolum {
        flex-direction: column;
        margin: 0 auto;
    }

    /* menu */
    .menu {
        background-image: none;
        background-color: rgb(0, 4, 17);
    }

    .menu-section {
        width: 55%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 0;
    }

    .menu-item {
        margin: 0 auto;
        margin-top: 1rem;
    }

    .menu-icerisi-baslik {
        margin: 0 auto;
    }


    /* footer section */
    .footer-flex {
        flex-direction: column;
        align-items: center;
    }

    .mail-liste {
        width: 70%;
    }

    .nav-copyright {
        flex-direction: column;
        align-items: center;
    }

    footer input {
        width: 100%;
        text-align: center;
    }

    footer button {
        font-size: 1.2rem;
    }

    footer nav {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    footer nav a {
        font-size: 1.7rem;
    }

    .nav-copyright {
        padding: 0;
    }

    .copyright {
        font-size: 1rem;
        margin: auto 0;
    }
}

@media(429px<=width<=701px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .header-bg {
        height: 37vh;
    }

    header nav a {
        margin: 1.5rem;
        padding-top: 3rem;
    }

    .social-media {
        padding-top: 3rem;
    }


    .menu-bolum {
        margin: 0 auto;
    }

    .menu-bolum a {
        margin: 1rem;
    }

    .menu-container {
        align-items: center;
    }

    .menu-section {
        width: 50%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        align-items: center;
        margin-left: 1rem;
    }

    .menu-item {
        width: 70%;
        margin-bottom: 2rem;
    }


    .corbalar {
        text-align: center;
    }

    footer {
        padding-top: 1vh;
        height: 15vh;
    }

    footer input {
        height: 4vh;
        width: 20vw;
        font-size: 1rem;

    }

    footer button {
        font-size: 1.2rem;
        height: 4vh;
    }

    footer nav a {
        font-size: 1.5rem;
        width: 8rem;
    }

    footer nav a:first-child {
        width: 5rem;
    }

    footer nav a:last-child {
        width: 5rem;
    }

    .ozel-teklifler {
        padding-left: 2rem;
    }

    .copyright {
        font-size: 1.5rem;

    }

}

@media(702px <=width<=1175px) {


    .spacer {
        height: 8vh;
    }

    .spacer-sm {
        height: 8vh;
    }

    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    /* menu */
    h1 {
        font-size: 4.5rem
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 4rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    header nav a {
        padding-top: 4rem;
    }

    .social-media {
        padding-top: 4rem;
    }

    .menu-section {
        width: 40%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 7rem;
    }

    .menu-item {
        width: 70%;
        margin-bottom: 2rem;
    }

    /* footer section */
    footer {
        height: 18vh;
    }

    footer nav {
        align-items: center;
    }

    footer nav a {
        font-size: 2rem;
        width: 13rem;
    }

    .ozel-teklifler {
        padding-left: 2rem;
    }

    .copyright {
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    footer input {
        height: 5vh;
        width: 20vw;
        font-size: initial;
    }

    footer button {
        height: 5vh;
        width: 8vw;
        font-size: 1.5rem;
    }
}